body {
  background-color: #000;
  background: url(bg.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
  background-size: cover;
  background-color: #cbdad5;

  h1 {
    color: white;
  }
}

.navbar {
  border-radius: 0px;
}

.form {

  .shared-links {
  margin-bottom: 15px;
  }
}


